<app-navbar></app-navbar>
<div class="container">
    <div class="row g-3 mt-4">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-4">
                <h3 class="text-center">CONTACT US</h3>
                
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 gt-3 mt-4 ">
                        <label for="" class="form-label">Name</label>
                        <input type="text" class="form-control">
                   </div>
                   <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Phone no</label>
                    <input type="text" class="form-control">
                  </div>
                  <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Email id</label>
                    <input type="text" class="form-control">
                  </div>
                  <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 gt-3 mt-4 text-center">
                    <button class="btn btn-primary">Sumbit</button>
                  </div>

                  <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 gt-3 mt-4"> 
               <h3 class="text-center">NeST DIGITAL DEVELOPMENT CENTERS</h3>
                  </div>
                  
                
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3 gt-3 mt-4 ">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title"></h5>
                      <h6 class="card-subtitle mb-2 text-muted">NeST Towers, University junction,
                        Kalamassery, Kochi, Kerala,
                        India – 682 033
                        Ph: +91-484-6701000</h6>
                      </div>
                  </div>
            </div>

            <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3 gt-3 mt-4 ">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title"></h5>
                      <h6 class="card-subtitle mb-2 text-muted">NeST Tech Park, NeST Valley,
                        Near Infopark, Infopark P.O,
                        Kakkanad, Kochi, Kerala,
                        India – 682042
                        Ph:+91484-4203333</h6>
                      
                      
                    </div>
                  </div>
            </div>

            <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3 gt-3 mt-4 ">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title"></h5>
                      <h6 class="card-subtitle mb-2 text-muted">No.70/4, Eliem building, 2nd cross,
                        C.S.I compound, Mission road,
                        Bangalore, Karnataka, India – 560 027</h6>
                     
                    </div>
                  </div>
            </div>
            <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3 gt-3 mt-4 ">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title"></h5>
                      <h6 class="card-subtitle mb-2 text-muted">A-3, Periyar, Technopark Campus,
                        Karyavattom, Trivandrum,
                        Kerala, India -695 581
                        Phone:- 0471-2527441
                        Fax :- 0471-2700442</h6>
                    </div>

                    </div>
                  </div>
            
            </div>
        </div>
    </div>
</div>

