
<div class="container">
    <div class="row g-3 mt-4">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-4">
                <h3 class="text-center"></h3>
                <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4" *ngFor="let i of data">
                <div class="card" style="width: 30rem;">
                    
                    <div class="card-body">
                      <h5 class="card-title">Name:{{i.name}}</h5>
                      <h6 class="card-title">Friends's Name:{{i.friendName}}
                       Friends's Nickname:{{i.friendNickName}}
                      </h6>
                      <p class="card-text">Describe Your Friend:{{i.DescribeYourFriend}}</p>
                      </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
</div>


