<app-navbar></app-navbar>
<div class="container">
    <div class="row g-3 mt-4">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 mt-4">
                <h3 class="text-center">REGISTRATION</h3>

                
                    <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                        <label for="" class="form-label">Employee ID</label>
                        <input type="text" class="form-control">
                   </div>
                   <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="" class="form-label">First Name</label>
                    <input type="text" class="form-control">
                  </div>
                  <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="" class="form-label">Last Name</label>
                    <input type="text" class="form-control">
                  </div>
                  <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="" class="form-label">House Number</label>
                    <input type="text" class="form-control">
                  </div>
                  <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="" class="form-label">Street</label>
                    <input type="text" class="form-control">
                  </div>
                  <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="" class="form-label">Pincode</label>
                    <input type="text" class="form-control">
                  </div>
                  <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="" class="form-label">District</label>
                    <input type="text" class="form-control">
                  </div>
                  <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="" class="form-label">State</label>
                    <input type="text" class="form-control">
                  </div>
                  <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="" class="form-label">Country</label>
                    <input type="text" class="form-control">
                  </div>
                  <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="" class="form-label">Mobile Number</label>
                    <input type="text" class="form-control">
                  </div>
                  <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="" class="form-label">Email ID</label>
                    <input type="text" class="form-control">
                  </div>
                  <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="" class="form-label">Parent Name</label>
                    <input type="text" class="form-control">
                  </div>
                  <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="" class="form-label">Gender</label>
                    <input type="text" class="form-control">
                  </div>
                  <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="" class="form-label">Highest Degree</label>
                    <input type="text" class="form-control">
                  </div>
                  <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="" class="form-label">Year Of Experience</label>
                    <input type="text" class="form-control">
                  </div>
                  <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="" class="form-label">Date Of Joining</label>
                    <input type="date" class="form-control">
                  </div>
                  <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="" class="form-label">Username</label>
                    <input type="text" class="form-control">
                  </div>
                  <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="" class="form-label">Password</label>
                    <input type="password" class="form-control">
                  </div>
                  <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                    <label for="" class="form-label">Confirm Paasword</label>
                    <input type="password" class="form-control">
                  </div>
                  <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <button class="btn btn-primary">Register</button>
                  </div>
                  <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <a routerLink="/employee">Back To Employee Login</a>
                  </div>
            </div>
        </div>
    </div>
</div>
